/* all */
body {
  margin: 0;
  padding: 0;
}

img {
  object-fit: cover;
}

a {
  text-decoration: none;
  margin: 0;
  padding: 0;
  font-size: 15px;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.wrapper {
  margin: 0 100px;
}

main h1 {
  text-align: center;
  margin: 100px auto 50px;
  padding-bottom: 10px;
  border-bottom: 5px solid rgb(40, 40, 158);
}

/* header */
header {
  background-color: rgb(227, 226, 226);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 20;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


header img {
  width: 6%;
  border-radius: 50%;
}


header ul {
  display: flex;
}

header li {
  margin-left: 40px;
}

.header li:hover {
  opacity: 0.5;
}

.header li:nth-child(5):hover {
  opacity: 1;
}

header li a {
  color: black;
}

header nav ul li:nth-child(5) a {
  color: white;
  background-color: rgb(40, 40, 158);
  border-radius: 30px;
  padding: 15px;
}

header nav ul li:nth-child(5) a:hover {
  color: rgb(40, 40, 158);
  background-color: white;
  border: 2px solid rgb(40, 40, 158);
}

/* main */

main {
  margin-top: 100px;
}

.main-visual img {
  width: 100%;
  height: 700px;
}

.consept-container {
  display: flex;
  justify-content: space-between;
}

.consept h1 {
  width: 115px;
}

.c-textarea {
  margin-right: 50px;
  padding-top: 30px;
}

.consept-container img {
  width: 48%;
}

/* news */

.news h1 {
  width: 100px;
}

.news .article-container {
  display: flex;
  justify-content: space-around;
}

article {
  width: 80%;
  margin: 0 20px;
  box-shadow: 0px 0px 5px 3px rgb(207, 207, 207);
  /* border: 1px solid black; */
}

article h2 {
  margin: 10px;
  padding: 0;
  font-size: 18px;
}

article p {
  margin: 10px;
  padding: 0;
  font-size: 15px;
}

article img {
  width: 100%;
}

/* footer */

footer {
  margin-top: 100px;
}

footer h3 {
  margin: 0;
  padding: 10px 0;
  font-size: 14px;
  font-weight: 200;
  text-align: center;
  align-items: center;
  color:white;
  background-color: rgb(40, 40, 158);
}

/* media */
@media screen and (max-width:600px) {

  .wrapper {
    margin: 20px;
  }

  .header ul {
    display: block;
  }

  .header li {
    text-align: right;
    margin: 0;
    padding: 10px 40px 10px 10px;
  }

  .header li a {
    color: black;
  }

  .header li:hover {
    opacity: 0.5;
  }

  .header li:nth-child(5) {
    padding: 30px 20px 0 0;
  }

  .header li:nth-child(5):hover {
    opacity: 1;
  }

  header nav {
    display: block;
    padding-top: 100px;
    width: 220px;
    position: fixed;
    background-color: white;
    top: 0;
    right: -300px;
    bottom: 0;
    transition: all 0.5s;
    z-index: 10;
    opacity: 0;
  }

  #navArea.open nav {
    right: 0;
    opacity: 1;
  }

  .toggle-btn {
    display: block;
    position: fixed;
    top:20px;
    right: 30px;
    width: 30px;
    height: 30px;
    z-index: 20;
    cursor: pointer;
  }

  .toggle-btn span {
    position: absolute;
    display: block;
    left: 0;
    width: 30px;
    height: 2px;
    background-color: rgb(40, 40, 158);
    transition: all 0.5s;
    border-radius: 4px;
  }

  .toggle-btn span:nth-child(1) {
    top: 4px;
  }

  .toggle-btn span:nth-child(2) {
    top: 14px;
  }

  .toggle-btn span:nth-child(3) {
    bottom: 4px;
  }

  .open .toggle-btn span:nth-child(1) {
    transform: translateY(10px) rotate(-315deg);
  }

  .open .toggle-btn span:nth-child(2) {
    opacity: 0;
  }

  .open .toggle-btn span:nth-child(3) {
    transform: translateY(-10px) rotate(315deg);
  }

  main {
    margin-top: 60px;
  }

  .consept-container {
    display: block;
  }

  .consept-container img {
    width: 100%;
  }

  .consept-container .c-textarea {
    margin: 0 auto;
  }

  .article-container {
    flex-direction: column;
  }

  .article-container article {
    width: 90%;
    margin: 0 auto 50px;
  }

}
